<div class="modal modal-login fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel"><%= t(:sign_in) %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 text-center">
              <h3>
                <%= link_to(login_facebook_path, class: 'btn btn-block btn-social btn-facebook') do %>
                  <i class="fa fa-facebook"></i>
                  <%= t(:sign_in_with_facebook) %>
                <% end %>
              </h3>
              <p>
                <em><%= t(:facebook_signin_reason) %></em>
              </p>
            </div>
            <div class="col-md-6 text-center">
              <h3>
                <%= link_to(login_github_path, class: 'btn btn-block btn-social btn-github') do %> 
                  <i class="fa fa-github"></i>
                  <%= t(:sign_in_with_github) %>
                <% end %>
              </h3>
              <p>
                <em><%= t(:github_signin_reason) %></em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>